extends layout

block main
  section.namecard
    .namecard-login
      if name
        .namecard-hello
          p.namecard-greeting Welcome, #{name}!
          form.namecard-exit(action="/goodbye", method="POST")
            button(type="submit")
              img(src="/static/img/close.svg")
      else
        .namecard-hello
          p.namecard-greeting Hello,student!
    block intro
  block card