doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Flash Cards
    link(rel="stylesheet", href="/static/stylesheets/style.css")
body
  include includes/header.pug
  block main

  